@font-face {
    font-family: futurak;
    src: url(../fonts/futurak.ttf);
}


/* navbar started */

.logo-img{
    width: 165px;
}

navbar{
    padding: 15px;
    margin: 20px;
}

nav-item{
    font-size: 2rem;
}

.franchise-btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 1.6rem;
}
.order-btn{
    background-color: #ed1c24;
    border: none;
    padding: 20px 25px;
    border-radius: 30px;
    font-size: 1.6rem;
}

circle-btn{
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 30px;
    color: #ed1c24;
    margin-left: 5px;
}
.arrow-icon{
    font-size: 1.5rem;
}

a{
    font-size: 1.6rem;
}
/* navbar ended */
.carousel-img{
width: 100%;
}

/* restarauntsection started */
.img-restaurant{
    background-color: #ffffff;
    padding: 30px 35px;
    border-radius: 3px;
}

.restaurant-btn{
    background-color: #000000;
    border: 1px solid #ffffff;
    padding: 15px 45px;
    border-radius: 25px;
    font-size: 1.3rem;
    color: #ffffff;
    width: 200px;
}
/* restarauntsection ended */

.font-futuruk{
    font-family: futurak;
    font-size: 5rem;
}


 /*  franchises section started  */

.grey-bg{
    background-color: #0f0f0f;
    
}

.franchise-font{
    font-size: 3.2rem;
    font-family: futurak;
}
.space-bt{
    letter-spacing: 5px;
}


.directions-btn{
    margin-left: 63px;
    margin-top: 35px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 1.6rem;
}

.islufranch{
    margin-left: 800px;
    align-items: center;
   position: relative;
bottom: 230px;
right: 20px;
}
.faslufranch{
margin-left: 70px;
position: relative;
bottom: 80px;
}
.express-image{
border: 1px solid white;
width: 300px;
}
.franchfr{
    width: 300px;
    display: flex;
    flex-direction: row;
justify-content: space-between;

}

.text-small{
    margin: 48px;
}
.franchise-home-box-content small {
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
    display: block;
    padding-left: 15px;
}
    
.cutsom-row-pdb {
    margin-bottom: 48px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 110px;
}

.franchise-home-box-content span.logo-text-hold-second {
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 3.7rem;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
}

.fa{
    font-size: 1.6rem;
}

.franchise-home-box-content p {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    padding: 15px;
}

.franchise-home-box-content p a {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    
}

.franchise-home-box-content a.btn.btn-holds {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 15px;
    margin-top: 40px;
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25rem;
   
}

a{
    text-decoration: none;
}

.arrow-one {
    padding: 8px 8px 6px;
}
.arrow-one {
    background-color: #fff;
    color: #dc3545;
    width: 27px;
    height: 27px;
    padding: 5px 8px;
    border-radius: 30px;
    margin-left: 10px;
}
a span{
    font-weight: 400;
}

img {
    vertical-align: middle;
    border-style: none;
    display: flex;
    justify-content: space-around   ;
}


 /* franchises section ended  */ 
