@font-face {
    font-family: futurak;
    src: url(../fonts/futurak.ttf);
}


/* navbar started */

.logo-img{
    width: 165px;
}

navbar{
    padding: 15px;
    margin: 20px;
}

nav-item{
    font-size: 2rem;
}

.franchise-btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 1.6rem;
}
.order-btn{
    background-color: #ed1c24;
    border: none;
    padding: 20px 25px;
    border-radius: 30px;
    font-size: 1.6rem;
}

circle-btn{
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 30px;
    color: #ed1c24;
    margin-left: 5px;
}
.arrow-icon{
    font-size: 1.5rem;
}

a{
    font-size: 1.6rem;
}
/* navbar ended */
.carousel-img{
width: 100%;
}

/* restarauntsection started */
.img-restaurant{
    background-color: #ffffff;
    padding: 30px 35px;
    border-radius: 3px;
}

.restaurant-btn{
    background-color: #000000;
    border: 1px solid #ffffff;
    padding: 15px 45px;
    border-radius: 25px;
    font-size: 1.3rem;
    color: #ffffff;
    width: 200px;
}
/* restarauntsection ended */

.font-futuruk{
    font-family: futurak;
    font-size: 5rem;
}


 /*  franchises section started  */

.grey-bg{
    background-color: #0f0f0f;
    
}

.franchise-font{
    font-size: 3.2rem;
    font-family: futurak;
}
.space-bt{
    letter-spacing: 5px;
}


.islu-franchise{
    width: 534.5;
    
}
 /* franchises section ended  */ 
